<section data-ng-controller="roomSelectController">

    <div layout="column">
        <md-content layout-padding layout="row" layout-sm="column">
            <md-input-container>
                <label>방 번호를 입력해주세요!</label>
                <input type="text" ng-model="roomNumber">
            </md-input-container>
            <md-button ng-click="joinRoom(roomNumber)" class="md-raised md-primary">들어가기</md-button>
        </md-content>
    </div>
    <!-- Accent-colored raised button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">add</i>
    </button>
</section>
