<section data-ng-controller="roomController">
	<div class="well">
            <h3>{{roomNum}} 방 입니다.</h3>
        <a ui-sref="room-select"><md-button class="md-raised md-warngrunt">방 나가기</md-button></a>
    </div>
    <div class="row">
        <!--user1-->
        <div class="user">
            <div class="page-header">
                <h3>User Table</h3>
            </div>
                <ul ng-repeat="user in users">
                <div class="mdl-card mdl-shadow--2dp user-card">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text"><i class="material-icons">accessibility</i> {{user.username}}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <i class="material-icons">work</i> {{user.working}}
                    </div>
                    <div class="mdl-card__actions mdl-card--border user-card-action">
                        <button ng-click="watchToggle()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect"><i class="material-icons">alarm</i></button> {{user.time.time}}
                    </div>
                </div>
                </ul>
            </div>
        </div>
    </div>
</section>
